@media only screen and (max-width: 400px) {


    /* ========= hero  ============== */
    .hero {
        padding: 20px 0 25px;
        background: #fffcf4;
    }

    .hero .body {
        display: flex;
        flex-direction: column;
    }

    .hero .media-block {
        width: 100%;
    }

    .hero .media-block .img {
        width: 100%;
        height: auto;
    }

    .hero .hero-summary {
        padding: 14px;
        width: 240px;
        bottom: 10px;
    }


    .hero .content-block {
        width: 100%;
        padding-left: 0px;
        padding-top: 20px;
    }

    .hero .heading {
        font-size: 3.2rem;
    }

    .hero .desc {
        margin-top: 15px;
        font-size: 1.2rem;
    }

    .hero-cta {
        min-width: 140px;
        line-height: 54px;
    }

    .hero .watch-video {
        margin-left: 18px;
    }


    /* ================ popular ================== */
    .popular {
        padding: 35px 0;
        margin-top: 75px;
    }

    .popular-top {
        flex-direction: column;
    }

    .popular-top .desc {
        width: 100%;
        font-size: 1.2rem;
    }

    .heading-lv2 {
        font-size: 2.8rem;
    }

    .popular .course-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


    /* Feedback Section */

    .feedback {
        margin-top: 65px;
        padding: 96px 0;
        background: #2e2100;
    }

    .feedback-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feedback-item .content {
        width: 100%;
        margin-left: 20px;
    }

    .feedback-item blockquote {
        font-size: 1.8rem;
        line-height: 1.14;
    }

    /* Features Section */
    .features {
        margin-top: 45px;
        padding: 25px 0;
    }

    .features .body {
        flex-direction: column;
    }

    .features .images {
        flex-direction: column;
        gap: 10px;
    }

    .features .images img {
        width: 100%;
        height: auto;
    }

    .features .content {
        width: 100%;
        margin-top: 30px;
    }

    /* =================features 2================== */
    .features-2nd {
        margin-top: 30px;
    }


    /* Our BLog */
    .blogs {
        margin-top: 85px;
        padding: 66px 0;
    }

    .blogs .blog-top .desc {
        width: 100%;
        font-size: 1.1rem;
    }

    .blogs .blog-list {
        gap: 20px;
        flex-direction: column;
        margin-top: 35px;
    }

    .blogs .item {
        width: 100%;
    }


}